.container{
    background-color: blue;
    
}

.grid{
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
}

.grid div {
    height: 40px;
    width: 40px;
    border: 2px solid ;
}

.bomb{
    background-color: red;
}

.checked{
    background-color: greenyellow;
}

.brand-logo{
    margin-left: 6vw;
}